<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appreciation</title>
    <style>
        body {
            background-image: url('/static/thanks.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
          }
        .th{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align:center;
            font-size: 0.75cm;
        }
        .tt{
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
        }    
    </style>
</head>
<body>
    <div class="th">
        <h1>Thanks for visiting</h1>
    </div>    
    <div class="tt">
        <h2>Hoped you liked it</h2>
    </div>
    <div class="tht">
        <h1>for any queries or suggestion <br>
        contact us at:<br>
        21f1001345@student.onlinedegree.iitm.ac.in</h1>
    </div>
    <h2><a href = {{url_for('home')}}> Go to Home</a></h2>
</body>
</html>