<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Log</title>
    <style>
        body {
            background-image: url('/static/g.jpg');
            background-repeat: no-repeat;
            background-size: cover;
          }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body style="background-color:lavender">
    <h1 style="text-align:center">Update Log</h1>
    <form action="/log/{{ username.username }}/{{ trackers.Name }}/update/{{ data.no }}" method="POST" id="update-log-form" style="text-align:center">
        <fieldset style="background-color:white">
            <div>
                <label>Username:</label>
                <input type="text" name="name" value="{{ username['username'] }}" disabled />
            </div>
            <br>
            <div>
                <label>Tracker Name:</label>
                <input type="text" name="type" value="{{ trackers.Name }}" disabled>
            </div>
            <br>
            {% if trackers.Type == 'Numerical' %}
                <div>
                    <label>Value:</label>
                    <input type="float" name="value"  required />
                </div>
            {% endif %}
            {% if trackers.Type == 'Boolean' %}
                <div>
                    <label>Answer:</label>
                    <input type="radio" name="value" value='YES' >
                    <label for="t_type">YES</label>
                    <input type="radio" name="value" value='NO' checked>
                    <label for="t_type">NO</label>
                </div>
            {% endif %}
            <br>
            <div>
                <label>Note:</label>
                <input type="text" name="note" value="{{ data.note }}" />
            </div>
            <br>
            <label>TimeStamp</label>
            <input id="date" name="date" disabled>
            <script type="text/javascript">document.getElementById('date').value = Date();</script>
            <br><br>
            <div>
                <input type="submit" value="Submit">
            </div>
        </fieldset>
    </form>
    <h2><a href="/logdetails/{{username.username}}/{{trackers.Name}}">Go Back</a></h2>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>